{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/pages/tab-page.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/uploader/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/uploader/themes/explorer-fas/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    <label for="name" class="control-label">Расположения</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="name" class="form-control" name="name" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    <label for="name" class="control-label">Количество изображений</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="size" class="form-control" name="size" placeholder="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                            <div class="p-20">
                               
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="docs" class="control-label">Рекламные изображение</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="file-loading">
                                                <input id="kv-docs" type="file" name="docs" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button id="createButton" type="submit" data-url="{% url 'ads-block-create-api'%}" class="btn btn-success"> <i class="fa fa-check"></i> Сохранить</button>
                                            <button type="button" class="btn btn-inverse">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

    </div>

{% endblock %}

{% block js %}
    

    <script src="{% static 'assets/plugins/uploader/js/plugins/piexif.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/js/plugins/sortable.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/js/fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/js/locales/ru.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/js/locales/uz.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/themes/fas/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/uploader/themes/explorer-fas/theme.js' %}" type="text/javascript"></script>

    <script>
       
            $("#kv-docs").fileinput({
                'theme': 'explorer-fas',
                language: 'ru',
                fileType: "any",
                showUpload: false,
                showCaption: true,
                overwriteInitial: false,
                initialPreviewAsData: true,
                initialPreview: [
                    /*"http://lorempixel.com/1920/1080/nature/1",
                    "http://lorempixel.com/1920/1080/nature/2",
                    "http://lorempixel.com/1920/1080/nature/3"*/
                ],
                initialPreviewConfig: [
                    /*{caption: "nature-1.jpg", size: 329892, width: "120px", url: "{$url}", key: 1},
                    {caption: "nature-2.jpg", size: 872378, width: "120px", url: "{$url}", key: 2},
                    {caption: "nature-3.jpg", size: 632762, width: "120px", url: "{$url}", key: 3}*/
                ]
            });
        
    </script>
    <script>
        $(document).ready(function () {
            $("#createButton").click(function (e) {
                e.preventDefault();
                let formData = new FormData();

                formData.append('name', $('input[name="name"]').val());
                formData.append('size', $('input[name="size"]').val());
                for (let i = 0; i < $('#kv-docs')[0].files.length; i++){
                    formData.append('images', $('#kv-docs')[0].files[i]);
                }
                var url = $("#createButton").data("url");
                $.ajax({
                    headers: { "X-CSRFToken": "{{csrf_token}}" },
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        window.location.href = '/ads/list';
                    },
                    error: function (data) {
                        alert('Error');
                    }
                });

            })
        });
    </script>
{% endblock %}