{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/pages/tab-page.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/uploader/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/uploader/themes/explorer-fas/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <div class="p-20">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="login" class="control-label">Логин</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="login" class="form-control" name="login" value="{{request.user.username}}" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="old_pass" class="control-label">Старый пароль</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="old_pass" class="form-control" name="old_pass" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="new_pass" class="control-label">Новый пароль</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="new_pass" class="form-control" name="new_pass" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="confirm_pass" class="control-label">Подтвердите пароль</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="confirm_pass" class="form-control" name="confirm_pass" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                               <div class="form-group">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button id="updateButton" type="submit" data-url="{% url 'profile-update-api'%}" class="btn btn-success"> <i class="fa fa-check"></i> Сохранить</button>
                                            <button type="button" class="btn btn-inverse">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

    </div>

{% endblock %}

{% block js %}

    
    <script>
        $(document).ready(function () {
            $("#updateButton").click(function (e) {
                e.preventDefault();

                let formData = new FormData();

                formData.append('username', $('input[name="login"]').val());
                formData.append('old_password', $('input[name="old_pass"]').val());
                formData.append('new_password', $('input[name="new_pass"]').val());
                formData.append('confirm_pass', $('input[name="confirm_pass"]').val());


                var url = $("#updateButton").data("url");
                $.ajax({
                    headers: { "X-CSRFToken": "{{csrf_token}}" },
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'PUT',
                    data: formData,
                    success: function (data) {
                        window.location.href = '/';
                    },
                    error: function (data) {
                        alert('Error');
                    }
                });

            })
        });
    </script>
{% endblock %}